.icon1{margin-left: 750px;position: absolute;}
.menu:hover{background-color: #007bff;border: 1px solid transparent; border-radius: 10px;color: white;}
.commander:hover{background-color: #007bff; border: 1px solid transparent;border-radius: 8px;color: white;}
.table{margin-top: 240px;}
